html{
    /* width: 100%!important;
    height: 100%; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;   
}
body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
      overflow-x: hidden;   
    /* background-image: url("https://tse4.mm.bing.net/th?id=OIP.bK_afgJWwU52g1vR2WMKfQHaEo&pid=Api&P=0&w=281&h=176");
    background-repeat: no-repeat; */
}
.nav-item:hover{
    background-color: rgb(136, 136, 136);
    opacity: 1;
 
}


h1 {
    text-align: center;
    color: brown;
}


h2{
    text-align: center;
    font-size: 1.6rem;
}
.container1{
    height: 15vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box{
    /* border: 2px solid red; */
    font-size: 3vw;
    width: 35vw;
    margin: 2vw;
}
.container2 iframe{
    /* margin: 0vw 21vw; */
    width: 100vw;
}

p{
    overflow: hidden;
}

footer{
    background-color: #0d6efd;
}
a{
text-decoration: none;
color: black;
}
.col-icon{
    display: inline-flex;
    justify-content: center;
}
.fa{
    font-size: 2rem;
    overflow: hidden;

}
.col-links{
    margin: 0vw 0vw 0vw 8vw;
}
.fa-facebook {

    color: rgb(66, 32, 219);
    margin: 10px;
    font-size: 25px;
  }  
  .fa-linkedin {
    margin: 10px;
    color: blue;
  }
  
  .fa-youtube {
    margin: 10px;
    color: red;
  }
  
  .fa-instagram {
    margin: 10px;
    color: rgb(212, 55, 199);
  }
 

