body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    /* background-image: url("https://tse4.mm.bing.net/th?id=OIP.bK_afgJWwU52g1vR2WMKfQHaEo&pid=Api&P=0&w=281&h=176");
    background-repeat: no-repeat; */
}
h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4.7vw;
text-shadow: crimson;
margin-top: 15px;
padding: 0;
}
h2{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vw;
/* text-shadow: crimson; */
margin-top: 15px;
padding: 0;
}
h3{
    text-align: center;
    margin: 1.7vw;
}
.nav-item:hover{
    background-color: rgb(136, 136, 136);
    opacity: 1;
    font-size: 1.5vw;
}

.card img:hover{
    transform: scaleY(1.3);
cursor: zoom-in;
}
.container-fluid.justify-content-start:hover{
    transform: scaleY(1.5);
   
    /* background-color: rgb(136, 136, 136); */
    color: black;
}
.container{
   
    display: inline-flex;
    flex-wrap: wrap;
    margin: 2rem 1rem 0rem 4rem;
    padding: 15px;
}
.card{
    margin: 1rem;
 

}
footer{
    background-color: #0d6efd;
}
a{
text-decoration: none;
color: black;
}
.col-icon{
    display: inline-flex;
    justify-content: center;
}
.fa{
    font-size: 2rem;

}
.col-links{
    margin: 0vw 0vw 0vw 8vw;
}
.fa-facebook {

    color: rgb(66, 32, 219);
    margin: 10px;
    font-size: 25px;
  }  
  .fa-linkedin {
    margin: 10px;
    color: blue;
  }
  
  .fa-youtube {
    margin: 10px;
    color: red;
  }
  
  .fa-instagram {
    margin: 10px;
    color: rgb(212, 55, 199);
  }
 